# Dependencies
/node_modules
/.pnpm-store

# Next.js Build Output
/.next/
/out/

# Database
/prisma/dev.db
/prisma/dev.db-journal

# Environment & Local Secrets
.env
.env.local
.env.production
.env.development

# Physical Local Media Uploads & Recordings
/public/recordings/*
!/public/recordings/.gitkeep
/public/uploads/*
!/public/uploads/.gitkeep